{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": ["warn", {allow: ["warn", "error", "info"]}]
    },
    "env": {
        "es6": true,
        "node": true,
    },
}
